# ========================
# DATABASE
# ========================
POSTGRES_DB=app_db
POSTGRES_USER=changeme
POSTGRES_PASSWORD=changeme
POSTGRES_PORT=5432

# ========================
# BACKEND
# ========================
BACKEND_PORT=8080

# ========================
# FRONTEND
# ========================
FRONTEND_PORT=4200
